<div><div id="tline"
  aria-label="Single Series Timeline Demo"
  data-bind="ojComponent: {
  component: 'ojTimeline',
  minorAxis: {
  scale: 'weeks',
    zoomOrder: ['months', 'weeks', 'days']
  },
  majorAxis: {
    scale: 'quarters'
  },
  start: new Date('Jul 1, 2016').toISOString(),
  end: new Date('Jul 31, 2016').toISOString(),
  selectionMode: 'single',
  referenceObjects: [{value: new Date('Jul 1, 2016').toISOString()}],
  selection: ['e2'],
  series: [{ 
    id: 's1',
    emptyText: 'No Data.',
    items: series,
    label: 'Agenda Familiar'
  }],
  overview: {
    rendered: 'off'
  }	                                        
}" style="width:100%;height: 350px"></div>
</div>            